<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muniao.dao.AddRoomMapper">
  <resultMap id="BaseResultMap" type="com.muniao.entity.Room">
    <id column="roomid" jdbcType="INTEGER" property="roomid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="room_status" jdbcType="INTEGER" property="room_status" />
    <result column="room_longitude" jdbcType="VARCHAR" property="room_longitude" />
    <result column="room_latitude" jdbcType="VARCHAR" property="room_latitude" />
    <result column="isaddbed" jdbcType="VARCHAR" property="isaddbed" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="xiaoqu" jdbcType="VARCHAR" property="xiaoqu" />
    <result column="build" jdbcType="VARCHAR" property="build" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="door" jdbcType="VARCHAR" property="door" />
    <result column="maptype" jdbcType="INTEGER" property="maptype" />
    <result column="fyms" jdbcType="VARCHAR" property="fyms" />
    <result column="zbss" jdbcType="VARCHAR" property="zbss" />
    <result column="cclx" jdbcType="VARCHAR" property="cclx" />

    <result column="jzdb" jdbcType="VARCHAR" property="jzdb" />
    <result column="bedroom" jdbcType="INTEGER" property="bedroom" />
    <result column="livingroom" jdbcType="INTEGER" property="livingroom" />
    <result column="bathroom_self" jdbcType="INTEGER" property="bathroom_self" />
    <result column="bathroom_public" jdbcType="INTEGER" property="bathroom_public" />
    <result column="max_num" jdbcType="INTEGER" property="max_num" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="sameroom" jdbcType="INTEGER" property="sameroom" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="add_bed_num" jdbcType="INTEGER" property="add_bed_num" />
    <result column="add_bed_price" jdbcType="INTEGER" property="add_bed_price" />
    <result column="kitchenroom" jdbcType="INTEGER" property="kitchenroom" />
    <result column="is_deposit" jdbcType="INTEGER" property="is_deposit" />
    <result column="deposit_money" jdbcType="DOUBLE" property="deposit_money" />
    <result column="is_invoice" jdbcType="INTEGER" property="is_invoice" />
    <result column="min_day" jdbcType="INTEGER" property="min_day" />
    <result column="max_day" jdbcType="INTEGER" property="max_day" />
    <result column="in_time" jdbcType="INTEGER" property="in_time" />
    <result column="out_time" jdbcType="INTEGER" property="out_time" />
    <result column="rzyq" jdbcType="INTEGER" property="rzyq" />
    <result column="specialprice_istrue" jdbcType="INTEGER" property="specialprice_istrue" />
    <result column="week_start_date" jdbcType="DATE" property="week_start_date" />
    <result column="week_end_date" jdbcType="DATE" property="week_end_date" />
    <result column="weeks" jdbcType="INTEGER" property="weeks" />
    <result column="week_price" jdbcType="DOUBLE" property="week_price" />
    <result column="weekmonth_discount" jdbcType="INTEGER" property="weekmonth_discount" />
    <result column="discount_week" jdbcType="DOUBLE" property="discount_week" />
    <result column="discount_month" jdbcType="DOUBLE" property="discount_month" />
    <result column="discount_start_date" jdbcType="DATE" property="discount_start_date" />
    <result column="discount_end_date" jdbcType="DATE" property="discount_end_date" />
    <result column="is_zhima" jdbcType="INTEGER" property="is_zhima" />
    <result column="is_xiaobai" jdbcType="INTEGER" property="is_xiaobai" />
    <result column="longrent_begin_time" jdbcType="DATE" property="longrent_begin_time" />
    <result column="longrent_end_time" jdbcType="DATE" property="longrent_end_time" />
    <result column="is_longrent" jdbcType="INTEGER" property="is_longrent" />
    <result column="longrent_price" jdbcType="DOUBLE" property="longrent_price" />
    <result column="long_deposit_money" jdbcType="DOUBLE" property="long_deposit_money" />
    <result column="is_over_weekprice" jdbcType="INTEGER" property="is_over_weekprice" />
    <result column="support" jdbcType="VARCHAR" property="support" />
    <result column="srv_bei_dan" jdbcType="INTEGER" property="srv_bei_dan" />
    <result column="srv_wei_sheng" jdbcType="INTEGER" property="srv_wei_sheng" />


    <collection column="room_type_id" property="roomType"  select="com.muniao.dao.RoomTypeMapper.selectByTypeId"/>
    <collection column="price_interval_id"  property="priceInterval" select="com.muniao.dao.PriceIntervalMapper.selectByIntervalId"/>
    <collection column="room_feature_id" property="roomFeature" select="com.muniao.dao.RoomFeatureMapper.selectByFeatureId"/>
    <collection column="refund_rule_id" property="refundRule"  select="com.muniao.dao.RefundRuleMapper.selectByRuleId"/>
    <collection column="user_id" property="user"  select="com.muniao.dao.UserMapper.selectByUserId"/>
    <collection column="room_method_id" property="rentalMethod"  select="com.muniao.dao.RentalMethodMapper.selectByMethodId"/>
  </resultMap>

  <sql id="Base_Column_List">

  </sql>

  <insert id="addRoomStep1" parameterType="com.muniao.entity.Room" useGeneratedKeys="true" keyProperty="roomid">
    INSERT INTO tb_room(province,city,area,street,xiaoqu,build,unit,door,lng,lat,maptype,user_id,room_feature_id)
    VALUES (#{province},#{city},#{area},#{street},#{xiaoqu},#{build},#{unit},#{door},#{lng},#{lat},#{maptype},#{user_id},#{room_feature_id})
  </insert>

  <update id="updateRoomStep2" parameterType="com.muniao.entity.Room">
    UPDATE tb_room SET
    title = #{title},
    bedroom = #{bedroom},
    livingroom = #{livingroom},
    bathroom_self = #{bathroom_self},
    bathroom_public = #{bathroom_public},
    rent_type = #{rent_type},
    house_type = #{house_type},
    max_num = #{max_num},
    size = #{size},
    sameroom = #{sameroom},
    subtitle = #{subtitle},
    isaddbed = #{isaddbed},
    add_bed_num = #{add_bed_num},
    add_bed_price = #{add_bed_price},
    kitchenroom = #{kitchenroom}
    WHERE roomid = #{roomid}
  </update>

  <update id="updateRoomStep3" parameterType="com.muniao.entity.Room">
    UPDATE tb_room SET
    price = #{price},
    is_deposit = #{is_deposit},
    deposit_money = #{deposit_money},
    refund_type = #{refund_type},
    is_invoice = #{is_invoice},
    min_day = #{min_day},
    max_day = #{max_day},
    in_time = #{in_time},
    out_time = #{out_time},
    rzyq = #{rzyq},
    is_zhima = #{is_zhima},
    is_xiaobai = #{is_xiaobai},
    specialprice_istrue = #{specialprice_istrue},
    week_start_date = #{week_start_date},
    week_end_date = #{week_end_date},
    weeks = #{weeks},
    week_price = #{week_price},
    weekmonth_discount = #{weekmonth_discount},
    discount_week = #{discount_week},
    discount_month = #{discount_month},
    discount_start_date = #{discount_start_date},
    discount_end_date = #{discount_end_date},
    longrent_begin_time = #{longrent_begin_time},
    longrent_end_time = #{longrent_end_time},
    is_longrent = #{is_longrent},
    longrent_price = #{longrent_price},
    long_deposit_money = #{long_deposit_money},
    is_over_weekprice = #{is_over_weekprice},
    price_interval_id = #{price_interval_id}
    WHERE roomid = #{roomid}
  </update>

  <update id="updateRoomStep4" parameterType="com.muniao.entity.Room">
    UPDATE tb_room SET
    support = #{support},
    srv_bei_dan = #{srv_bei_dan},
    srv_wei_sheng	 = #{srv_wei_sheng}
    WHERE roomid = #{roomid}
  </update>

  <update id="updateRoomStep5" parameterType="com.muniao.entity.Room">
    UPDATE tb_room SET
    fyms = #{fyms},
    cclx = #{cclx},
    zbss = #{zbss},
    jzdb = #{jzdb},
    sqms = #{sqms}
    WHERE roomid = #{roomid}
  </update>

  <delete id="deleteRoomByRoomid" parameterType="java.lang.Integer">
    DELETE FROM tb_room WHERE roomid = #{roomid}
  </delete>
</mapper>



