<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muniao.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.muniao.entity.Order">
        <id column="order_id" jdbcType="INTEGER" property="orderId" />
        <result column="order_buyer_id" jdbcType="INTEGER" property="orderBuyerId"/>
        <result column="order_seller_id" jdbcType="INTEGER" property="orderSellerId" />
        <result column="order_status" javaType="String" property="orderStatus"/>
        <association property="orderDetail" resultMap="OrderDetailResultMap"/>
    </resultMap>

    <resultMap id="RoomResultMap" type="com.muniao.entity.Room">
        <id column="roomid" jdbcType="INTEGER" property="roomid" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="price" jdbcType="DOUBLE" property="price" />
        <result column="room_status" jdbcType="INTEGER" property="room_status" />
        <result column="room_longitude" jdbcType="VARCHAR" property="room_longitude" />
        <result column="room_latitude" jdbcType="VARCHAR" property="room_latitude" />
        <result column="isaddbed" jdbcType="VARCHAR" property="isaddbed" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="area" jdbcType="VARCHAR" property="area" />
        <result column="street" jdbcType="VARCHAR" property="street" />
        <result column="xiaoqu" jdbcType="VARCHAR" property="xiaoqu" />
        <result column="build" jdbcType="VARCHAR" property="build" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="door" jdbcType="VARCHAR" property="door" />
        <result column="maptype" jdbcType="INTEGER" property="maptype" />
        <result column="fyms" jdbcType="VARCHAR" property="fyms" />
        <result column="zbss" jdbcType="VARCHAR" property="zbss" />
        <result column="cclx" jdbcType="VARCHAR" property="cclx" />
        <result column="jzdb" jdbcType="VARCHAR" property="jzdb" />
        <result column="bedroom" jdbcType="INTEGER" property="bedroom" />
        <result column="livingroom" jdbcType="INTEGER" property="livingroom" />
        <result column="bathroom_self" jdbcType="INTEGER" property="bathroom_self" />
        <result column="bathroom_public" jdbcType="INTEGER" property="bathroom_public" />
        <result column="max_num" jdbcType="INTEGER" property="max_num" />
        <result column="size" jdbcType="INTEGER" property="size" />
        <result column="sameroom" jdbcType="INTEGER" property="sameroom" />
        <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
        <result column="add_bed_num" jdbcType="INTEGER" property="add_bed_num" />
        <result column="add_bed_price" jdbcType="INTEGER" property="add_bed_price" />
        <result column="kitchenroom" jdbcType="INTEGER" property="kitchenroom" />
        <result column="is_deposit" jdbcType="INTEGER" property="is_deposit" />
        <result column="deposit_money" jdbcType="DOUBLE" property="deposit_money" />
        <result column="is_invoice" jdbcType="INTEGER" property="is_invoice" />
        <result column="min_day" jdbcType="INTEGER" property="min_day" />
        <result column="max_day" jdbcType="INTEGER" property="max_day" />
        <result column="in_time" jdbcType="INTEGER" property="in_time" />
        <result column="out_time" jdbcType="INTEGER" property="out_time" />
        <result column="rzyq" jdbcType="INTEGER" property="rzyq" />
        <result column="specialprice_istru" jdbcType="INTEGER" property="specialprice_istru" />
        <result column="week_start_date" jdbcType="DATE" property="week_start_date" />
        <result column="week_end_date" jdbcType="DATE" property="week_end_date" />
        <result column="weeks" jdbcType="INTEGER" property="weeks" />
        <result column="week_price" jdbcType="DOUBLE" property="week_price" />
        <result column="weekmonth_disco" jdbcType="INTEGER" property="weekmonth_disco" />
        <result column="discount_week" jdbcType="DOUBLE" property="discount_week" />
        <result column="discount_month" jdbcType="DOUBLE" property="discount_month" />
        <result column="discount_start_date" jdbcType="DATE" property="discount_start_date" />
        <result column="discount_end_date" jdbcType="DATE" property="discount_end_date" />
        <result column="is_zhima" jdbcType="INTEGER" property="is_zhima" />
        <result column="is_xiaobai" jdbcType="INTEGER" property="is_xiaobai" />
        <result column="longrent_begin_time" jdbcType="DATE" property="longrent_begin_time" />
        <result column="longrent_end_time" jdbcType="DATE" property="longrent_end_time" />
        <result column="is_longrent" jdbcType="INTEGER" property="is_longrent" />
        <result column="longrent_price" jdbcType="DOUBLE" property="longrent_price" />
        <result column="long_deposit_money" jdbcType="DOUBLE" property="long_deposit_money" />
        <result column="is_over_weekprice" jdbcType="INTEGER" property="is_over_weekprice" />
        <result column="support" jdbcType="VARCHAR" property="support" />
        <result column="srv_bei_dan" jdbcType="INTEGER" property="srv_bei_dan" />
        <result column="srv_wei_sheng" jdbcType="INTEGER" property="srv_wei_sheng" />
        <collection column="room_type_id" property="roomType"  select="com.muniao.dao.RoomTypeMapper.selectByTypeId"/>
        <collection column="price_interval_id"  property="priceInterval" select="com.muniao.dao.PriceIntervalMapper.selectByIntervalId"/>
        <collection column="room_feature_id" property="roomFeature" select="com.muniao.dao.RoomFeatureMapper.selectByFeatureId"/>
        <collection column="refund_rule_id" property="refundRule"  select="com.muniao.dao.RefundRuleMapper.selectByRuleId"/>
        <collection column="user_id" property="user"  select="com.muniao.dao.UserMapper.selectByUserId"/>
        <collection column="room_method_id" property="rentalMethod"  select="com.muniao.dao.RentalMethodMapper.selectByMethodId"/>
    </resultMap>

    <resultMap id="OrderDetailResultMap" type="com.muniao.entity.OrderDetail">
        <id column="order_detail_id" property="orderDetailId" javaType="INTEGER"/>
        <result column="booking_time" property="bookingTime" javaType="Date"/>
        <result column="check_in_time" property="checkInTime" javaType="Date"/>
        <result column="departure_time" property="departureTime" javaType="Date"/>
        <result column="check_in_population" property="checkInPopulation" javaType="INTEGER"/>
        <result column="price_detail" property="priceDetail" javaType="String"/>
        <result column="total_price" property="totalPrice" javaType="double"/>
        <result column="total_deposit" property="totalDeposit" javaType="double"/>
        <result column="actually_paid" property="actuallyPaid" javaType="double"/>
        <result column="to_shop_payment" property="toShopPayment" javaType="double"/>
        <association property="room" resultMap="RoomResultMap"/>
        <association property="refundRule" resultMap="RefundRuleResultMap"/>
        <association property="checkInCustomers" resultMap="CheckInCustomerResultMap"/>
    </resultMap>

    <resultMap id="CheckInCustomerResultMap" type="com.muniao.entity.CheckInCustomer">
        <id column="check_in_people_id" property="checkInCustomerId" javaType="INTEGER"/>
        <result column="customer_name" property="customerName" javaType="String"/>
        <result column="customer_IDcard" property="customerIDCard" javaType="String"/>
        <result column="customer_phone_number" property="customerPhoneNum" javaType="String"/>
    </resultMap>

    <resultMap id="RefundRuleResultMap" type="com.muniao.entity.RefundRule">
        <id column="refund_rule_id" jdbcType="INTEGER" property="ruleId" />
        <result column="rule_type" jdbcType="VARCHAR" property="ruleType"/>
        <result column="rule_content" jdbcType="VARCHAR" property="ruleContent" />
    </resultMap>

    <select id="selectBuyerOrders" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        *
        FROM tb_order tor inner join tb_order_detail tod on tor.order_detail_id=tod.order_detail_id
        inner join tb_room tro on tod.room_id=tro.roomid
        inner JOIN tb_checkIn_customer tcc on tod.order_detail_id=tcc.order_detail_id
        and order_buyer_id=#{id};
    </select>

    <update id="changeOrderStatus" >
        UPDATE
        tb_order
        SET
        order_status=#{arg0}
        WHERE
        order_id=#{arg1};
    </update>

    <select id="selectWaitCommitOrders" resultMap="BaseResultMap">

        select
        *
        FROM tb_order tor inner join tb_order_detail tod on tor.order_detail_id=tod.order_detail_id
        inner join tb_room tro on tod.room_id=tro.roomid
        inner JOIN tb_checkIn_customer tcc on tod.order_detail_id=tcc.order_detail_id
        and order_status LIKE '%${arg0}%' and order_buyer_id=#{arg1};
    </select>

    <select id="selectAllOrders" resultMap="BaseResultMap">
        SELECT
        *
        FROM tb_order tor inner join tb_order_detail tod on tor.order_detail_id=tod.order_detail_id
        inner join tb_room tro on tod.room_id=tro.roomid
        inner JOIN tb_checkIn_customer tcc on tod.order_detail_id=tcc.order_detail_id
        and tor.order_buyer_id= #{arg0} or tor.order_seller_id= #{arg0};
    </select>
</mapper>