<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muniao.dao.RoomMapper">
  <resultMap id="BaseResultMap" type="com.muniao.entity.Room">
    <id column="roomid" jdbcType="INTEGER" property="roomid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="room_status" jdbcType="INTEGER" property="room_status" />
    <result column="room_longitude" jdbcType="VARCHAR" property="room_longitude" />
    <result column="room_latitude" jdbcType="VARCHAR" property="room_latitude" />
    <result column="isaddbed" jdbcType="VARCHAR" property="isaddbed" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="xiaoqu" jdbcType="VARCHAR" property="xiaoqu" />
    <result column="build" jdbcType="VARCHAR" property="build" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="door" jdbcType="VARCHAR" property="door" />
    <result column="maptype" jdbcType="INTEGER" property="maptype" />
    <result column="fyms" jdbcType="VARCHAR" property="fyms" />
    <result column="zbss" jdbcType="VARCHAR" property="zbss" />
    <result column="cclx" jdbcType="VARCHAR" property="cclx" />

    <result column="jzdb" jdbcType="VARCHAR" property="jzdb" />
    <result column="bedroom" jdbcType="INTEGER" property="bedroom" />
    <result column="livingroom" jdbcType="INTEGER" property="livingroom" />
    <result column="bathroom_self" jdbcType="INTEGER" property="bathroom_self" />
    <result column="bathroom_public" jdbcType="INTEGER" property="bathroom_public" />
    <result column="max_num" jdbcType="INTEGER" property="max_num" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="sameroom" jdbcType="INTEGER" property="sameroom" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="add_bed_num" jdbcType="INTEGER" property="add_bed_num" />
    <result column="add_bed_price" jdbcType="INTEGER" property="add_bed_price" />
    <result column="kitchenroom" jdbcType="INTEGER" property="kitchenroom" />
    <result column="is_deposit" jdbcType="INTEGER" property="is_deposit" />
    <result column="deposit_money" jdbcType="DOUBLE" property="deposit_money" />
    <result column="is_invoice" jdbcType="INTEGER" property="is_invoice" />
    <result column="min_day" jdbcType="INTEGER" property="min_day" />
    <result column="max_day" jdbcType="INTEGER" property="max_day" />
    <result column="in_time" jdbcType="INTEGER" property="in_time" />
    <result column="out_time" jdbcType="INTEGER" property="out_time" />
    <result column="rzyq" jdbcType="INTEGER" property="rzyq" />
    <result column="specialprice_istru" jdbcType="INTEGER" property="specialprice_istru" />
    <result column="week_start_date" jdbcType="DATE" property="week_start_date" />
    <result column="week_end_date" jdbcType="DATE" property="week_end_date" />
    <result column="weeks" jdbcType="INTEGER" property="weeks" />
    <result column="week_price" jdbcType="DOUBLE" property="week_price" />
    <result column="weekmonth_disco" jdbcType="INTEGER" property="weekmonth_disco" />
    <result column="discount_week" jdbcType="DOUBLE" property="discount_week" />
    <result column="discount_month" jdbcType="DOUBLE" property="discount_month" />
    <result column="discount_start_date" jdbcType="DATE" property="discount_start_date" />
    <result column="discount_end_date" jdbcType="DATE" property="discount_end_date" />
    <result column="is_zhima" jdbcType="INTEGER" property="is_zhima" />
    <result column="is_xiaobai" jdbcType="INTEGER" property="is_xiaobai" />
    <result column="longrent_begin_time" jdbcType="DATE" property="longrent_begin_time" />
    <result column="longrent_end_time" jdbcType="DATE" property="longrent_end_time" />
    <result column="is_longrent" jdbcType="INTEGER" property="is_longrent" />
    <result column="longrent_price" jdbcType="DOUBLE" property="longrent_price" />
    <result column="long_deposit_money" jdbcType="DOUBLE" property="long_deposit_money" />
    <result column="is_over_weekprice" jdbcType="INTEGER" property="is_over_weekprice" />
    <result column="support" jdbcType="VARCHAR" property="support" />
    <result column="srv_bei_dan" jdbcType="INTEGER" property="srv_bei_dan" />
    <result column="srv_wei_sheng" jdbcType="INTEGER" property="srv_wei_sheng" />


    <collection column="house_type" property="roomType"  select="com.muniao.dao.RoomTypeMapper.selectByTypeId"/>
    <collection column="price_interval_id"  property="priceInterval" select="com.muniao.dao.PriceIntervalMapper.selectByIntervalId"/>
    <collection column="room_feature_id" property="roomFeature" select="com.muniao.dao.RoomFeatureMapper.selectByFeatureId"/>
    <collection column="refund_rule_id" property="refundRule"  select="com.muniao.dao.RefundRuleMapper.selectByRuleId"/>
    <collection column="user_id" property="user"  select="com.muniao.dao.UserMapper.selectByUserId"/>
    <collection column="rent_type" property="rentalMethod"  select="com.muniao.dao.RentalMethodMapper.selectByMethodId"/>
  </resultMap>

  <sql id="Base_Column_List">

  </sql>

  <select id="findByFeature" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    *
    FROM tb_room
    WHERE room_feature_id=#{roomFeatureId,jdbcType=INTEGER} limit #{startPage,jdbcType=INTEGER},#{endPage,jdbcType=INTEGER};
  </select>

  <select id="findByFeatureCity" resultMap="BaseResultMap">
    select
    *
    FROM tb_room
    WHERE room_feature_id=#{featureId,jdbcType=INTEGER} AND city=#{roomLocation,javaType=String}
    limit #{startPage,jdbcType=INTEGER},#{endPage,jdbcType=INTEGER};
  </select>

  <select id="findByCityList" resultMap="BaseResultMap">
    SELECT DISTINCT city FROM tb_room WHERE room_feature_id=#{roomFeatureId,jdbcType=INTEGER};
  </select>

  <select id="CountFeatureList" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT  COUNT(room_feature_id) FROM tb_room WHERE room_feature_id=#{roomFeatureId,jdbcType=INTEGER};
  </select>

  <select id="countFeatureRoom" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT COUNT(roomid) FROM tb_room WHERE room_feature_id=#{featureId,jdbcType=INTEGER};
  </select>

  <select id="selectByCity" resultMap="BaseResultMap">
    select
    *
    FROM tb_room
    WHERE city=#{roomLocation,javaType=String}
    limit #{startPage,jdbcType=INTEGER},#{endPage,jdbcType=INTEGER};
  </select>

  <select id="selectByCityTitle" resultMap="BaseResultMap">
    select
    *
    FROM tb_room
    WHERE city=#{roomLocation,javaType=String}
    <if test="typeId != 0">
      AND house_type =#{typeId,jdbcType=INTEGER}
    </if>
    <if test="priceId != 0">
      AND price_interval_id =#{priceId,jdbcType=INTEGER}
    </if>
    <if test="methodId != 0">
      AND rent_type =#{methodId,jdbcType=INTEGER}
    </if>
    <if test="structureId != 0">
      AND bedroom =#{structureId,jdbcType=INTEGER}
    </if>
    limit #{startPage,jdbcType=INTEGER},#{endPage,jdbcType=INTEGER};
  </select>

  <!-- 查找所在地方所有的房间类型 -->
  <select id="selectRoomType" resultMap="BaseResultMap">
    select
    DISTINCT
    house_type
    FROM tb_room
    WHERE city=#{roomLocation,javaType=String}
  </select>

  <!-- 查询具体房间价格区间 -->
  <select id="selectRoomInterval" resultMap="BaseResultMap">
    select
    DISTINCT
    price_interval_id
    FROM tb_room
    WHERE city=#{roomLocation,javaType=String}
  </select>

  <!-- 查询具体房间出租方式 -->
  <select id="selectRoomMethod" resultMap="BaseResultMap">
    select
    DISTINCT
    rent_type
    FROM tb_room
    WHERE city=#{roomLocation,javaType=String}
  </select>

  <!-- 查询具体房间的户型 -->
  <select id="selectRoomStructure" resultMap="BaseResultMap">
    select
    DISTINCT
    bedroom
    FROM tb_room
    WHERE city=#{roomLocation,javaType=String}
  </select>

  <!-- 查询具体房间信息 -->
  <select id="selectRoomById" resultMap="BaseResultMap">
    select
    *
    FROM tb_room
    WHERE
    roomid=#{roomId,jdbcType=INTEGER};
  </select>

  <!--房东页面 -->
  <select id="selectByUserId" resultMap="BaseResultMap">
    select
    *
    FROM tb_room
    WHERE
    user_id=#{userId,jdbcType=INTEGER}
    limit 0,6;
  </select>

  <select id="selectCountRooms" resultType="java.lang.Integer">
    select
    COUNT(roomid)
    FROM tb_room
    WHERE city=#{roomLocation};
  </select>

  <select id="selectCountCity" resultType="java.lang.String">
    select
    DISTINCT
    city
    FROM tb_room;
  </select>

</mapper>