<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muniao.dao.RoomMapper">
  <resultMap id="BaseResultMap" type="com.muniao.entity.Room">
    <id column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="room_name" jdbcType="VARCHAR" property="roomName" />
    <result column="room_price" jdbcType="INTEGER" property="roomPrice" />
    <result column="room_status" jdbcType="INTEGER" property="roomStatus" />
    <result column="room_location" jdbcType="VARCHAR" property="roomLocation" />
    <result column="room_longitude" jdbcType="VARCHAR" property="roomLongitude" />
    <result column="room_latitude" jdbcType="VARCHAR" property="roomLatitude" />
    <result column="room_bed_avaliable" jdbcType="VARCHAR" property="bedAvaliable" />
    <collection property="roomType" column="room_type_id" select="com.muniao.dao.RoomTypeMapper.selectByTypeId"/>
    <collection property="roomInterval" column="price_interval_id" select="com.muniao.dao.PriceIntervalMapper.selectByIntervalId"/>
    <collection property="roomFeature" column="room_feature_id" select="com.muniao.dao.RoomFeatureMapper.selectByFeatureId"/>
    <collection property="roomFacility" column="room_facility_id" select="com.muniao.dao.RoomFacilityMapper.selectFacilityById"/>
    <collection property="roomDesc" column="roomSource_desc_id" select="com.muniao.dao.SourceDescMapper.selectByDescId"/>
    <collection property="refundRule" column="refund_rule_id" select="com.muniao.dao.RefundRuleMapper.selectByRuleId"/>
    <collection property="landlord" column="user_id" select="com.muniao.dao.UserMapper.selectByUserId"/>
    <collection property="roomStructure" column="room_structure_id" select="com.muniao.dao.StructureMapper.selectByStructureId"/>
    <collection property="rentalMethod" column="room_method_id" select="com.muniao.dao.RentalMethodMapper.selectByMethodId"/>
    <collection property="avaliableArea" column="room_avaliableArea_id" select="com.muniao.dao.AvaliableAreaMapper.selectAreaId"/>
    <collection property="roomBedInfo" column="room_bedInfo_id" select="com.muniao.dao.BedMapper.selectBedId"/>

  </resultMap>

  <sql id="Base_Column_List">
    room_id,room_name,room_price,room_status,room_location,room_longitude,room_latitude,
    room_type_id,price_interval_id,room_feature_id,room_facility_id,roomSource_desc_id,
    refund_rule_id,user_id,room_bed_avaliable,room_structure_id,room_method_id,
    room_avaliableArea_id,room_bedInfo_id
  </sql>

  <select id="findByFeature" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM tb_room
    WHERE room_feature_id=#{roomFeatureId,jdbcType=INTEGER} limit #{startPage,jdbcType=INTEGER},#{endPage,jdbcType=INTEGER};
  </select>

  <select id="findByFeatureCity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM tb_room
    WHERE room_feature_id=#{featureId,jdbcType=INTEGER} AND room_location=#{roomLocation,javaType=String}
    limit #{startPage,jdbcType=INTEGER},#{endPage,jdbcType=INTEGER};
  </select>

  <select id="findByCityList" resultMap="BaseResultMap">
    SELECT DISTINCT room_location FROM tb_room WHERE room_feature_id=#{roomFeatureId,jdbcType=INTEGER};
  </select>

  <select id="CountFeatureList" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT  COUNT(room_feature_id) FROM tb_room WHERE room_feature_id=#{roomFeatureId,jdbcType=INTEGER};
  </select>

  <select id="countFeatureRoom" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT COUNT(room_id) FROM tb_room WHERE room_feature_id=#{featureId,jdbcType=INTEGER};
  </select>

  <select id="selectByCity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM tb_room
    WHERE room_location=#{roomLocation,javaType=String}
    limit #{startPage,jdbcType=INTEGER},#{endPage,jdbcType=INTEGER};
  </select>

  <select id="selectByCityTitle" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM tb_room
    WHERE room_location=#{roomLocation,javaType=String}
    <if test="typeId != 0">
      AND room_type_id =#{typeId,jdbcType=INTEGER}
    </if>
    <if test="priceId != 0">
      AND price_interval_id =#{priceId,jdbcType=INTEGER}
    </if>
    <if test="methodId != 0">
      AND room_method_id =#{methodId,jdbcType=INTEGER}
    </if>
    <if test="structureId != 0">
      AND room_structure_id =#{structureId,jdbcType=INTEGER}
    </if>
    limit #{startPage,jdbcType=INTEGER},#{endPage,jdbcType=INTEGER};
  </select>

  <!-- 查找所在地方所有的房间类型 -->
  <select id="selectRoomType" resultMap="BaseResultMap">
    select
    DISTINCT
    room_type_id
    FROM tb_room
    WHERE room_location=#{roomLocation,javaType=String}
    limit #{startPage,jdbcType=INTEGER},#{endPage,jdbcType=INTEGER};
  </select>


  <select id="selectRoomInterval" resultMap="BaseResultMap">
    select
    DISTINCT
    price_interval_id
    FROM tb_room
    WHERE room_location=#{roomLocation,javaType=String}
    limit #{startPage,jdbcType=INTEGER},#{endPage,jdbcType=INTEGER};
  </select>

  <select id="selectRoomMethod" resultMap="BaseResultMap">
    select
    DISTINCT
    room_method_id
    FROM tb_room
    WHERE room_location=#{roomLocation,javaType=String}
    limit #{startPage,jdbcType=INTEGER},#{endPage,jdbcType=INTEGER};
  </select>


  <select id="selectRoomStructure" resultMap="BaseResultMap">
    select
    DISTINCT
    room_structure_id
    FROM tb_room
    WHERE room_location=#{roomLocation,javaType=String}
    limit #{startPage,jdbcType=INTEGER},#{endPage,jdbcType=INTEGER};
  </select>


  <!-- 查询具体房间信息 -->
  <select id="selectRoomById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM tb_room
    WHERE
    room_id=#{roomId,jdbcType=INTEGER}
  </select>

</mapper>